Source: python-buildservice
Section: python
Priority: optional
Maintainer: Islam Amer <islam.amer@nokia.com>
Build-Depends: debhelper (>= 7.0.50~), python-support (>= 0.5.0), python-setuptools, python-sphinx, osc
Standards-Version: 3.9.2
XS-Python-Version: >= 2.6

Package: python-buildservice
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, osc
XB-Python-Version: ${python:Versions}
Description: Clean wrapper around OpenSUSE buildservice API
 Python classes that cleanly wrap the OBS API and reuses functions from osc

Package: python-buildservice-docs
Architecture: all
Depends: ${misc:Depends}
Description: Clean wrapper around OpenSUSE buildservice API - docs
 Python classes that cleanly wrap the OBS API and reuses functions from osc - docs

