Source: python-buildservice
Section: python
Priority: optional
Maintainer: Islam Amer <islam.amer@nokia.com>
Build-Depends: debhelper (>= 7), python-support (>= 0.5.0), python-dev, python-setuptools
Standards-Version: 3.8.4
XS-Python-Version: >= 2.6

Package: python-buildservice
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, osc
XB-Python-Version: ${python:Versions}
Description: Clean wrapper around OpenSUSE buildservice API
 Python classes that cleanly wrap the OBS API and reuses functions from osc

